.cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  pointer-events: none; 
  transition: width 0.3s ease, height 0.3s ease; 
}
