.buttonUnderlineCenter {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttonUnderlineCenter::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  .buttonUnderlineCenter:hover::after {
    width: 100%;
  }
  